body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;   
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

a {
    text-decoration-color: aquamarine;
    color:aquamarine !important;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

.link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:aquamarine !important;
    font-size: 16px;   
}

.footer {
    text-align: right;
    color: gray;

}

